body {
    background-image: url('images/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.about_me-page, .contact-page, .coming-soon-page {
    background: #333; /* Dark grey color */
    background-image: none; /* Override the background image */
}

.about_me-page .body-text, .contact-page .contact-subtitle, .coming-soon-page {
    color: #ccc; /* Lighter color for better readability on dark background */
}

.navbar {
    padding: 15px;
    margin-bottom: 80px;
}

.navbar-custom {
    background-color: #d3d3d3; /* Light grey color */
}

.navbar-nav .nav-link {
    font-size: 1.4em;
}

.index-logo {
    max-width: 400px; /* Adjust the max-width to make the logo bigger on the index page */
    height: auto;
    margin-bottom: 20px;
}

.navbar-logo {
    max-width: 200px; /* Logo size for "About Me" page */
    height: auto;
}

.about-section, .contact-section {
    margin-top: 50px;
}

.headshot {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.about-subtitle, .contact-title {
    font-size: 2em;
    margin-top: 20px;
    color: #fff; /* Adjust text color for better readability on dark background */
}

.subtitle {
    font-size: 2.2em;
    margin-top: 20px;
    color: #333;
    margin-bottom: 10px; /* Adjust this value to change the bottom margin */
}

.body-text {
    font-size: 1.1em;
    margin-top: 10px;
    color: #3a3a3a; /* Default text color for the index page */
}

.contact-subtitle {
    font-size: 1.3em; /* Smaller font size */
    color: #bbb; /* Darker color for better readability on dark background */
    margin-bottom: 30px;
}

.vertical-containers-page {
    background: #333; /* Dark grey color */
    background-image: none; /* Override the background image */
}

.vertical-containers-page .container-item {
    background-color: rgba(211, 211, 211, 0.8); /* Light grey with 80% opacity */
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 30px;
}

.vertical-containers {
    margin-top: 50px;
}

.container-item {
    margin-bottom: 30px;
}

.container-image {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.container-title {
    font-size: 2em;
    margin-top: 20px;
    color: #fff; /* Adjust text color for better readability on dark background */
}

.container-text {
    font-size: 1.1em;
    margin-top: 10px;
}

.carousel-title {
    font-size: 2.5em;
    text-align: center;
    margin-bottom: 10px;
    color: #fff;
}

.carousel-subtitle {
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 20px;
    color: #fff;
}

.social-links {
    text-align: center;
    margin-bottom: 20px;
}

.social-icon {
    width: 50px;
    height: auto;
    margin: 0 10px;
}

.carousel-inner img {
    width: 100%;
    height: auto;
}

.carousel {
    margin-bottom: 60px; /* Added margin bottom */
}

@media (max-width: 768px) {
    .navbar {
        padding: 15px;
        margin-bottom: 30px;
    }
    
    .index-logo {
        max-width: 200px; /* Adjust the max-width to make the logo bigger on the index page */
        height: auto;
        margin-bottom: 5px;
    }

    .navbar-toggler {
        margin-left: auto; 
        order: 1;
    }

    .navbar-collapse {
        order: 2;
		text-align: right;
    }

    .navbar-nav .nav-link {
        font-size: 1em;
		text-align: right;
        display: inline-block;
        float: right; /* Float the menu items to the right */
    }

    .about-section, .contact-section {
        text-align: center;
    }

    .about-subtitle, .contact-title {
        font-size: 1.5em;
    }

    .body-text {
        margin-top: 10px;
    }

    .col-md-4, .col-md-8 {
        display: block;
        width: 100%;
    }
    
    .vertical-containers {
        text-align: center;
    }

    .container-title {
        font-size: 1.5em;
    }

    .container-text {
        margin-top: 10px;
    }

    .carousel-title {
        font-size: 2em;
    }

    .carousel-subtitle {
        font-size: 1.2em;
    }

    .carousel {
        margin-bottom: 40px; /* Added margin bottom for mobile */
    }
}
