body {
    background-image: url('background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.about_me-page {
    background: #333; /* Dark grey color */
    background-image: none; /* Override the background image */
}

.about_me-page .body-text {
    color: #ccc; /* Lighter color for better readability on dark background */
}

.navbar {
    padding: 15px;
    margin-bottom: 80px;
}

.navbar-custom {
    background-color: #d3d3d3; /* Light grey color */
}

.navbar-nav .nav-link {
    font-size: 1.4em;
}

.index-logo {
    max-width: 400px; /* Adjust the max-width to make the logo bigger on the index page */
    height: auto;
    margin-bottom: 20px;
}

.navbar-logo {
    max-width: 200px; /* Logo size for "About Me" page */
    height: auto;
}

.about-section {
    margin-top: 50px;
}

.headshot {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.about-subtitle {
    font-size: 2em;
    margin-top: 20px;
    color: #fff; /* Adjust text color for better readability on dark background */
}

.subtitle {
    font-size: 2.2em;
    margin-top: 20px;
    color: #333;
    margin-bottom: 10px; /* Adjust this value to change the bottom margin */
}

.body-text {
    font-size: 1.1em;
    margin-top: 10px;
    color: #3a3a3a; /* Default text color for the index page */
}

@media (max-width: 768px) {
    .navbar {
        padding: 15px;
        margin-bottom: 10px;
    }
    
    .index-logo {
        max-width: 200px; /* Adjust the max-width to make the logo bigger on the index page */
        height: auto;
        margin-bottom: 5px;
    }

    .navbar-toggler {
        margin-left: auto; 
        order: 1;
    }

    .navbar-collapse {
        order: 2;
    }

    .navbar-nav .nav-link {
        font-size: 1em;
    }

    .about-section {
        text-align: center;
    }

    .about-subtitle {
        font-size: 1.5em;
    }

    .body-text {
        margin-top: 10px;
    }

    .col-md-4, .col-md-8 {
        display: block;
        width: 100%;
    }
}
